In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("../data/raw/SampleSuperstore.csv")
df.head()

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,219.5820
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,6.8714
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.0310
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,0.20,2.5164

In [4]:
df.describe()

        Postal Code         Sales     Quantity     Discount       Profit
count   9993.000000   9993.000000  9993.000000  9993.000000  9993.000000
mean   55186.627539    229.856670     3.789753     0.156218    28.652464
std    32063.103801    623.276273     2.225149     0.206456   234.271411
min     1040.000000      0.444000     1.000000     0.000000 -6599.978000
25%    23223.000000     17.280000     2.000000     0.000000     1.728000
50%    56301.000000     54.480000     3.000000     0.200000     8.662000
75%    90008.000000    209.940000     5.000000     0.200000    29.364000
max    99301.000000  22638.480000    14.000000     0.800000  8399.976000

In [5]:
import pandas_profiling

ModuleNotFoundError: No module named 'pandas_profiling'